@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', 'sans-serif';
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(9, 30, 30);
    color: white;
}

.product {
    border: 1px solid #DDD;
    padding: 20px;
    box-shadow: 1px 1px 5px rgba(0,0,0, 0.5);
    position: relative;
    border-radius: 20px;
}

.product-image {
    width: 200px;
}

.product-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn {
    border: none;
    background-color: rgb(29, 172, 51);
    color:white;
    padding: 10px;
    border-radius: 50%;
}

.btn:hover {
    cursor: pointer;
    background-color: rgb(72, 33, 209);
}

.product-separator {
    margin: 20px 0;
}

.product-price {
    font-weight: bold;
    font-size: 1.25em;
    
}

.product-price-container {
    display: flex;
    align-items: center;
    gap: 5px;
}

.product-quantity-count {
    background-color: rgb(28, 35, 211);
    padding: 5px 10px;
    color: white;
    font-size: 1em;
    position: absolute;
    top: 1%;
    right: 2%;
    border-radius: 20px;
}

#totals {
    max-width: 1200px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 1px 1px 5px rgba(34, 24, 24, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
    background-color: rgb(16, 35, 35);
}

#total-quantity, #total-price {
    font-weight: bold;
    font-size: 1.3em;
}
#totals p{
    font-size: 20px;
    color: white;
}  